<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <p class="index">index</p>
    <a href="/blog">Blogs Home</a>
    <a href="/blog/create">Create a blog</a>
    <script src="/anim.js"></script>
  </body>
</html>
